@font-face {
  font-family: "Noto Sans KR";
  src: url("/fonts/noto-sans-kr/NotoSansKR-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Train One";
  src: url("/fonts/train-one/TrainOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
