@utility color-force {
  color: var(--force-color);
}

@utility force-bg {
  background-color: var(--force-color);
}

@utility only-pc {
  @apply hidden md:block;
}
@utility only-mobile {
  @apply block md:hidden;
}

@utility font-jetbrains-mono {
  font-family: var(--font-jetbrains-mono);
}

/* Responsive Text Size */
@utility rts-h1 {
  font-size: 32px;
  @media (min-width: 768px) {
    font-size: 34px;
  }
  @media (min-width: 1024px) {
    font-size: 36px;
  }
}
@utility rts-h2 {
  font-size: 28px;
  @media (min-width: 768px) {
    font-size: 30px;
  }
  @media (min-width: 1024px) {
    font-size: 32px;
  }
}
@utility rts-h3 {
  font-size: 20px;
  @media (min-width: 768px) {
    font-size: 22px;
  }
  @media (min-width: 1024px) {
    font-size: 28px;
  }
}
@utility rts-h4 {
  font-size: 18px;
  @media (min-width: 768px) {
    font-size: 19px;
  }
  @media (min-width: 1024px) {
    font-size: 20px;
  }
}
@utility rts-18 {
  font-size: 16px;
  @media (min-width: 768px) {
    font-size: 17px;
  }
  @media (min-width: 1024px) {
    font-size: 18px;
  }
}
@utility rts-17 {
  font-size: 15px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  @media (min-width: 1280px) {
    font-size: 17px;
  }
}
@utility rts-16 {
  font-size: 14px;
  @media (min-width: 768px) {
    font-size: 15px;
  }
  @media (min-width: 1024px) {
    font-size: 16px;
  }
}
@utility rts-15 {
  font-size: 13px;
  @media (min-width: 768px) {
    font-size: 14px;
  }
  @media (min-width: 1024px) {
    font-size: 15px;
  }
}
@utility rts-14 {
  font-size: 12px;
  @media (min-width: 768px) {
    font-size: 13px;
  }
  @media (min-width: 1024px) {
    font-size: 14px;
  }
}
@utility rts-13 {
  font-size: 11px;
  @media (min-width: 768px) {
    font-size: 12px;
  }
  @media (min-width: 1280px) {
    font-size: 13px;
  }
}
@utility rts-12 {
  font-size: 10px;
  @media (min-width: 768px) {
    font-size: 11px;
  }
  @media (min-width: 1024px) {
    font-size: 12px;
  }
}
@utility rts-11 {
  font-size: 9px;
  @media (min-width: 768px) {
    font-size: 10px;
  }
  @media (min-width: 1024px) {
    font-size: 11px;
  }
}
@utility rts-10 {
  font-size: 8px;
  @media (min-width: 768px) {
    font-size: 9px;
  }
  @media (min-width: 1024px) {
    font-size: 10px;
  }
}

/* MDX Components Color TODO remove this */
@utility mdx-text {
  @apply rts-14;
  color: var(--mdx-text);
}
@utility mdx-code {
  @apply rts-12;
  color: var(--mdx-code);
}
@utility mdx-bg {
  background-color: var(--mdx-code-bg);
}
@utility mdx-code-bg {
  background-color: var(--mdx-code-bg);
}

/* Color Utilities */
@utility bg-highlight {
  background-color: var(--highlight-color);
}
@utility text-highlight {
  color: var(--highlight-color);
}
@utility border-highlight {
  border-color: var(--highlight-color);
}
@utility shadow-highlight {
  box-shadow: 0 0 8px 2px var(--highlight-color);
}
@utility shadow-inset-highlight {
  box-shadow: inset 0 0 5px 2px var(--highlight-color);
}
@utility bg-highlight/10 {
  background-color: color-mix(in srgb, var(--highlight-color) 10%, transparent);
}
@utility bg-highlight/20 {
  background-color: color-mix(in srgb, var(--highlight-color) 20%, transparent);
}
@utility bg-highlight/30 {
  background-color: color-mix(in srgb, var(--highlight-color) 30%, transparent);
}
@utility bg-highlight/40 {
  background-color: color-mix(in srgb, var(--highlight-color) 40%, transparent);
}
@utility bg-highlight/50 {
  background-color: color-mix(in srgb, var(--highlight-color) 50%, transparent);
}
@utility bg-highlight/70 {
  background-color: color-mix(in srgb, var(--highlight-color) 70%, transparent);
}
@utility bg-highlight/80 {
  background-color: color-mix(in srgb, var(--highlight-color) 80%, transparent);
}
@utility bg-highlight/90 {
  background-color: color-mix(in srgb, var(--highlight-color) 90%, transparent);
}

@utility text-highlight/10 {
  color: color-mix(in srgb, var(--highlight-color) 10%, transparent);
}
@utility text-highlight/20 {
  color: color-mix(in srgb, var(--highlight-color) 20%, transparent);
}
@utility text-highlight/30 {
  color: color-mix(in srgb, var(--highlight-color) 30%, transparent);
}
@utility text-highlight/40 {
  color: color-mix(in srgb, var(--highlight-color) 40%, transparent);
}
@utility text-highlight/50 {
  color: color-mix(in srgb, var(--highlight-color) 50%, transparent);
}
@utility text-highlight/60 {
  color: color-mix(in srgb, var(--highlight-color) 60%, transparent);
}
@utility text-highlight/70 {
  color: color-mix(in srgb, var(--highlight-color) 70%, transparent);
}
@utility text-highlight/80 {
  color: color-mix(in srgb, var(--highlight-color) 80%, transparent);
}
@utility text-highlight/90 {
  color: color-mix(in srgb, var(--highlight-color) 90%, transparent);
}

@utility header-height {
  height: 56px;
}

/* Layout Utilities */
@utility f-row {
  @apply flex flex-row;
}
@utility f-col {
  @apply flex flex-col;
}
@utility f-center {
  @apply flex items-center justify-center;
}
@utility f-between {
  @apply flex items-center justify-between;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility loader {
  --size-loader: 30px;
  --size-orbe: 6px;
  --orbe-color: var(--highlight-color);
  width: var(--size-loader);
  height: var(--size-loader);
  position: relative;
  transform: rotate(45deg);
  .orbe {
    position: absolute;
    width: 100%;
    height: 100%;
    --delay: calc(var(--index) * 0.1s);
    animation: orbit7456 ease-in-out 1.5s var(--delay) infinite;
    opacity: calc(1 - calc(0.2 * var(--index)));
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: var(--size-orbe);
      height: var(--size-orbe);
      background-color: var(--orbe-color);
      box-shadow: 0px 0px 20px 2px var(--orbe-color);
      border-radius: 50%;
    }
  }
}

@keyframes orbit7456 {
  0% {
  }
  80% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@utility flex-container {
  @apply flex flex-wrap w-full justify-center
         px-4 sm:px-6 lg:px-8
         [&>*]:flex-1;
}
@utility flex-col-container {
  @apply flex flex-col w-full justify-center
         px-4 sm:px-6 lg:px-8
         [&>*]:flex-1;
}
